<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          About Me
        </div>
        <ul class="breadcrumbs">
          <li>
            <%= link_to "Home", root_path %>
            <span class="arrow_right"></span>
          </li>
          <li>
            About Me
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section><

<section class="flat-row main-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article class="post-single">
          <div class="entry-post">
            <div class="entry-header">
              <h2 class="entry-title">"Creating visually-pleasing, highly functional Rails apps is my passion"</h2>
              <p> - Monica Howard</p>
            </div>
            <div class="entry-content">
              <div class="entry-answer">
                <p class="question ">
                  I created this website with Ruby on Rails!
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
