<div class="bg-dark pg-margin contact-pg-margin">
  <div class="card-group ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <hr/>
        <h6>Two Cents Review App</h6>
        <p> 311 N. Market St.<br/>
            Dallas, TX 75202</p>
        <p>682-220-2537</p>
        <p>hi@two-cents-review-app.com</p>
        <p>We love to hear your feedback. Give us a shout!</p>
      </div>
    </div>
    <div class="card">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.415864413916!2d-96.80919748488913!3d32.78123089107794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e99161f4de5f9%3A0xe60edcb87410c633!2s311+N+Market+St%2C+Dallas%2C+TX+75202!5e0!3m2!1sen!2sus!4v1527312307306" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>
  </div>
</div>

