<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Contact Me
        </div>
        <ul class="breadcrumbs">
          <li>
            <a href="index.html" title="">Home</a>
            <span class="arrow_right"></span>
          </li>
          <li>
            Contact
          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-iconbox style2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <img src="images/page/address.png" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>Dallas, TX</p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <img src="images/page/email.png" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>MonicaHoward.net</p>
                <p>jay.m.howard@gmail.com</p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <img src="images/page/phone.png" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>682.220.2537</p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-iconbox style2 -->

<section class="flat-contact">
  <div class="contact-map">
    <section class="pdmap style1" id="flat-map">
      <div class="flat-maps" data-address="84 Trần Quang Diệu, Ô Chợ Dừa, Đống Đa, Hà Nội, Việt Nam" data-height="700" data-image="images/icon/map.png" data-name="Themesflat Map"></div>
      <div class="gm-map">
        <div class="map-2"></div>
      </div>
    </section><!-- /#flat-map -->
  </div><!-- /.contact-map -->
  <div class="contact-form parallax parallax1">
    <div class="contact-us">
      <h3>Contact Me</h3>
      <form action="#" method="get" accept-charset="utf-8">
        <div class="wrap-contact name">
          <input type="text" class="your-name" placeholder="Your name" name="yourname">
        </div>
        <div class="wrap-contact email">
          <input type="email" class="your-email" placeholder="Your email" name="youremail">
        </div>
        <div class="wrap-contact message">
          <textarea class="you-message" placeholder="Your message"></textarea>
        </div>
        <div class="btn-more">
          <a href="#" title="">Send message</a>
        </div>
      </form>
    </div><!-- /.contact-us -->
    <div class="overlay"></div>
  </div><!-- /.contact-form -->
  <div class="clearfix"></div>
</section><!-- /.flat-contact -->

<section class="flat-row flat-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="subscribe-text">
          Subscribe and be notified about new locations
        </div>
      </div><!-- /.col-sm-7 -->
      <div class="col-sm-5">
        <div class="subscribe-form">
          <form action="#" method="get" accept-charset="utf-8">
            <div class="subscribe-content">
              <div class="input-field">
                <input type="email" name="yourEmail" placeholder="Your Email" />
              </div>
              <button><span class="arrow_right"></span></button>
            </div>
          </form>
        </div><!-- /.subscribe-form -->
      </div><!-- /.col-sm-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-subscibe -->