<section class="page-title style2 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Discover the Best Places
        </div>
        <div class="text-heading">
          Find food fast
        </div>
        <div class="wrap-box-search">
          <form action="#" method="get" accept-charset="utf-8">
								<span>
									<input type="text" placeholder="What are you looking for ?" name="search">
								</span>
            <span class="location">
									<span class="ti-location-pin"></span>
									<input type="text" placeholder="Location" name="location">
								</span>
            <span class="categories">
									<span class="ti-angle-down"></span>
									<select name="categories">
										<option value="">All Categories</option>
										<option value="">All Categories</option>
										<option value="">All Categories</option>
									</select>
								</span>
            <button type="submit" class="search-btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="flat-highlights">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="highlights">
          <ul class="menu-list">
            <li>
              <a href="#" title="">
                <img src="images/page/cutlery.png" alt="">
                <span>Pizza</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/double-bed.png" alt="">
                <span>Hamburgers</span>
              </a>

            </li>
            <li class="active">
              <a href="#" title="">
                <img src="images/page/guitar.png" alt="">
                <span>Sushi</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/rent-a-car.png" alt="">
                <span>Buffet</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/shopping-bag.png" alt="">
                <span>Chicken</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/dumbbell.png" alt="">
                <span>Steak House</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/cocktail.png" alt="">
                <span>Mexican</span>
              </a>

            </li>
            <li>
              <a href="#" title="">
                <img src="images/page/park.png" alt="">
                <span>Other</span>
              </a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Browse by Category</h2>
          <p>
            What are you in the mood for?
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="images/page/halong.png" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Ha Long</a>
            <p>Viet Nam</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="images/page/tokyo.png" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Tokyo</a>
            <p>Japan</p>
          </div>
        </div>
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="images/page/hanoi.png" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Ha Noi</a>
            <p>Viet Nam</p>
          </div>
        </div><
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="images/page/newyork.png" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">New York</a>
            <p>USA</p>
          </div>
        </div>
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="images/page/seoul.png" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Seoul</a>
            <p>Korea</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flat-row flat-imagebox background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Browse by Rating</h2>
          <p>
            Choose from the best of the best
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="imagebox">
          <div class="box-imagebox">
            <div class="box-header">
              <div class="box-image">
                <img src="images/page/img-01.png" alt="">
                <a href="#" title="">Preview</a>
                <div class="overlay"></div>
                <div class="queue">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="box-title ad">
                <span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
              </div>
              <ul class="rating">
                <li>5 rating</li>
                <li>Moderate</li>
                <li>Restaurant</li>
              </ul>
              <div class="box-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <ul class="location">
              <li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
              <li class="closed">Closed Now !</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="imagebox">
          <div class="box-imagebox">
            <div class="box-header">
              <div class="box-image">
                <img src="images/page/img-02.png" alt="">
                <a href="#" title="">Preview</a>
                <div class="overlay"></div>
                <div class="queue">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="box-title">
                <a href="#" title="">Acantara</a><i class="fa fa-check-circle" aria-hidden="true"></i>
              </div>
              <ul class="rating">
                <li>10 rating</li>
                <li>Ultra High End</li>
                <li>Hotel</li>
              </ul>
              <div class="box-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <ul class="location">
              <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
              <li class="open">Open Now !</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="imagebox">
          <div class="box-imagebox">
            <div class="box-header">
              <div class="box-image">
                <img src="images/page/img-03.png" alt="">
                <a href="#" title="">Preview</a>
                <div class="overlay"></div>
                <div class="queue">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="box-title">
                <a href="#" title="">Intercontinental</a><i class="fa fa-check-circle" aria-hidden="true"></i>
              </div>
              <ul class="rating">
                <li>6 rating</li>
                <li>Pricey</li>
                <li>Hotel</li>
              </ul>
              <div class="box-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <ul class="location">
              <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
              <li class="open">Open Now !</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flat-row flat-text-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-title center">
          <h2>
            Satisfy Your Craving
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="flat-row flat-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="subscribe-text">
          Subscribe and be notified about new locations
        </div>
      </div>
      <div class="col-sm-5">
        <div class="subscribe-form">
          <form action="#" method="get" accept-charset="utf-8">
            <div class="subscribe-content">
              <div class="input-field">
                <input type="email" name="yourEmail" placeholder="Your Email" />
              </div>
              <button><span class="arrow_right"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget widget-about">
          <div class="logo-ft">
            <%= link_to "Two Cents", root_path %>
          </div>
          <p>
            This app was built <br/> with Ruby on Rails!
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget widget-categories">
          <h3 class="widget-title">Categories</h3>
          <ul class="one-half">
            <li>
              <a href="#" title="">Pizza</a>
            </li>
            <li>
              <a href="#" title="">Hamburger</a>
            </li>
            <li>
              <a href="#" title="">Sushi</a>
            </li>
            <li>
              <a href="#" title="">Buffet</a>
            </li>
          </ul>
          <ul class="one-half">
            <li>
              <a href="#" title="">Chicken</a>
            </li>
            <li>
              <a href="#" title="">Steak House</a>
            </li>
            <li>
              <a href="#" title="">Mexican</a>
            </li>
            <li>
              <a href="#" title="">Other</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget widget-contact">
          <h3 class="widget-title">Contact</h3>
          <ul class="contact-infomation">
            <li class="address">
              Dallas, TX
            </li>
            <li class="phone">
              (682) 229-5138
            </li>
            <li class="email">
              jay.m.howard@gmail.com
            </li>
          </ul>
        </div>
      <div class="col-md-3">
        <div class="widget widget-map">
          <img src="images/page/bg-ft.png" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-ft">
          <li>
            <a href="#" title="">
              <i class="ti-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-twitter-alt" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-google" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" title="">
              <i class="ti-pinterest" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <div class="copyright">
          © 2018 Monica Howard | All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>