<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Add a Restaurant
        </div>
        <ul class="breadcrumbs">
          <li>
            <a href="index.html" title="">Home</a>
            <span class="arrow_right"></span>
          </li>
          <li>
            Add New Restaurant
          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->


<section class="flat-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <form action="#" class="form-listing" method="get" accept-charset="utf-8">
          <div class="inner-box">
            <p>Add a new restaurant to the database</p>
            <div class="clearfix"></div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-12">
            <%= render "restaurants/form" %>
          </div>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-listing -->